<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pofol.main.repository.FaqRepository">

    <insert id="insert" parameterType="FaqDto">
        <selectKey resultType="int" keyProperty="faq_id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO faq (faq_id, faq_type, faq_title, faq_con)
        VALUES (#{faq_id}, #{faq_type}, #{faq_title}, #{faq_con})
    </insert>

    <update id="update" parameterType="FaqDto">
        UPDATE faq
        SET faq_title = #{faq_title},
            faq_type = #{faq_type},
            faq_con = #{faq_con}
        WHERE faq_id = #{faq_id}
    </update>

    <!-- faq 삭제 -->
    <delete id="delete" parameterType="FaqDto">
        DELETE FROM faq WHERE faq_id = #{faq_id}
    </delete>

    <!-- 특정 faq 정보를 조회 -->
    <select id="select" parameterType="int" resultType="FaqDto">
        SELECT *
        FROM faq WHERE faq_id = #{faq_id}
    </select>

    <sql id="selectFaq">
        SELECT faq_id, faq_type, faq_title, faq_con
        FROM faq
        <where>
            <!-- MyBatis의 조건문을 사용하여 FAQ 타입에 따라 WHERE 절을 동적으로 생성한다 -->
            <choose>
                <!-- 쿼리에 전달된 매개변수 '_parameter' (MyBatis 내장변수) -->
                <when test="_parameter == null or (_parameter == null and _parameter.equals('전체'))">
                    <if test="faq_type != null and !faq_type.isEmpty()">
                        AND faq_type = #{faq_type}
                    </if>
                </when>
                <when test="!_parameter.equals('전체')">
                    <if test="faq_type != null and !faq_type.isEmpty()">
                        AND faq_type = #{faq_type}
                    </if>
                </when>
            </choose>
        </where>
        ORDER BY faq_id DESC
    </sql>

    <select id="selectAll" parameterType="FaqDto" resultType="FaqDto">
        <include refid="selectFaq"/>
    </select>

    <select id="selectPaged" parameterType="FaqDto" resultType="FaqDto">
        <include refid="selectFaq"/>
        LIMIT #{offset}, #{pageSize}
    </select>


    <select id="count" parameterType="FaqDto" resultType="int">
        SELECT count(*) FROM faq
    </select>

    <!-- 이미지 등록 -->
    <insert id="imageInsert" parameterType="ImageDto">
        INSERT INTO faq_image (faq_id, fileName, uploadPath, uuid)
        VALUES (#{faq_id}, #{fileName}, #{uploadPath}, #{uuid})
    </insert>

    <!-- 이미지 조회 -->
    <select id="getImageList" resultType="ImageDto">
        SELECT * FROM faq_image
        WHERE faq_id = #{faq_id}
    </select>
</mapper>

