<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pofol.main.repository.FaqRepository">

    <insert id="insert" parameterType="FaqDto">
        <selectKey resultType="int" keyProperty="faq_id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO faq (faq_id, faq_type, faq_title, faq_con)
        VALUES (#{faq_id}, #{faq_type}, #{faq_title}, #{faq_con})
    </insert>

    <update id="update" parameterType="FaqDto">
        UPDATE faq
        SET faq_title = #{faq_title},
            faq_type = #{faq_type},
            faq_con = #{faq_con}
        WHERE faq_id = #{faq_id}
    </update>

    <!-- faq 삭제 -->
    <delete id="delete" parameterType="FaqDto">
        DELETE FROM faq WHERE faq_id = #{faq_id}
    </delete>

    <!-- faq 상세조회 -->
    <select id="select" parameterType="int" resultType="FaqDto">
        SELECT *
        FROM faq WHERE faq_id = #{faq_id}
    </select>

    <sql id="selectFaq">
        SELECT
        -- rownum을 전체 faq의 개수에서 현재 offset과 페이지 내 순서를 빼서 계산
        (SELECT COUNT(*) FROM faq WHERE faq_type = IF(#{faq_type} = '전체', faq_type, #{faq_type})) - (#{offset} + @rownum := @rownum + 1) + 1 AS rowNum,
        faq_id,
        faq_type,
        faq_title,
        faq_con
        FROM faq, (SELECT @rownum := 0) AS r  -- rownum 초기화
        <where>
            <if test="faq_type != null and faq_type != '전체'">
                faq_type = #{faq_type}
            </if>
        </where>
        ORDER BY faq_id DESC
    </sql>


    <select id="selectAll" parameterType="FaqDto" resultType="FaqDto">
        <include refid="selectFaq"/>
    </select>

    <select id="selectPaged" parameterType="Map" resultType="FaqDto">
        <include refid="selectFaq"/>
        LIMIT #{offset}, #{pageSize}
    </select>


    <select id="count" parameterType="FaqDto" resultType="int">
        SELECT count(*) FROM faq
    </select>
</mapper>

