<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pofol.repository.NoticeRepository">
    <!-- 각 행에 고유번호 부여 -->
    <select id="getNoticeList" parameterType="NoticeDto" resultType="NoticeDto">
        SELECT *
        FROM (SELECT ROW_NUMBER() OVER (ORDER BY notice_id) AS R_NUM, B.*
              FROM (SELECT * FROM notice) B
             ) C
        ORDER BY R_NUM DESC
    </select>

    <select id="getNotice" parameterType="NoticeDto" resultType="NoticeDto">
        SELECT *
        FROM notice WHERE notice_id = #{notice_id}
    </select>

    <insert id="insertNotice" parameterType="NoticeDto">
        <selectKey resultType="int" keyProperty="notice_id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO notice (notice_id, notice_title, notice_con, notice_date)
        VALUES (#{notice_id}, #{notice_title},#{notice_con}, now())
    </insert>

    <update id="updateNotice" parameterType="NoticeDto">
        UPDATE notice
        SET notice_title = #{notice_title},
            notice_con = #{notice_con}
        WHERE notice_id = #{notice_id}
    </update>

    <delete id="deleteNotice" parameterType="NoticeDto">
        DELETE FROM notice WHERE notice_id = #{notice_id}
    </delete>

    <select id="count" parameterType="NoticeDto" resultType="int">
        SELECT count(*) FROM notice
    </select>

    <!-- 페이징 처리 후 조회 -->
    <sql id="selectFromBoard">
        SELECT notice_id, notice_title, notice_con, notice_date
        FROM notice
    </sql>

    <select id="selectPage" parameterType="map" resultType="NoticeDto">
        <include refid="selectFromBoard"/>
        ORDER BY notice_date DESC, notice_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 검색 조건 부여 후 조회 -->
    <sql id="searchBoardCondition">
        <choose>
            <when test='option=="T"'>
                AND notice_title LIKE CONCAT('%', #{keyword}, '%')
            </when>
            <when test='option=="A"'>
                AND (notice_title LIKE CONCAT('%', #{keyword}, '%') OR notice_con LIKE CONCAT('%', #{keyword}, '%'))
            </when>
        </choose>
    </sql>

    <select id="searchSelectPage" parameterType="SearchBoardCondition" resultType="NoticeDto">
        SELECT notice_id, notice_title, notice_con, notice_date
        FROM notice
        WHERE TRUE
        <include refid="searchBoardCondition" />
        ORDER BY notice_id DESC, notice_date DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="searchResultCnt" parameterType="SearchBoardCondition" resultType="int">
        SELECT count(*)
        FROM notice
        WHERE TRUE
        <include refid="searchBoardCondition" />
    </select>

    <!-- 이미지 등록 -->
    <insert id="imageInsert" parameterType="ImageDto">
        INSERT INTO image (item_id, fileName, uploadPath, uuid, mode)
        VALUES (#{item_id}, #{fileName}, #{uploadPath}, #{uuid}, 'notice')
    </insert>

    <!-- 이미지 조회 -->
    <select id="getImageList" parameterType="Map" resultType="ImageDto">
        SELECT * FROM image
        WHERE item_id = #{item_id} AND mode = #{mode}
    </select>

    <!-- 이미지 삭제 -->
    <delete id="deleteImageAll" parameterType="int">
        DELETE FROM image
        WHERE item_id = #{notice_id} AND mode = 'notice'
    </delete>

    <!-- 어제자 날짜 이미지 리스트 조회 -->
    <select id="checkFileList" resultType="ImageDto">
        SELECT * FROM image
        WHERE uploadPath = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 DAY), '%Y\\%m\\%d') AND mode = 'notice'
    </select>
</mapper>