.content-page {
    display: block;
    font-weight: normal;
}

.customer-service-center {
    display: flex;
    width: 1050px;
    padding: 50px 0 80px 0;
    margin: 0 auto;

    flex-direction: row;
    justify-content: space-between;
}
.center-left-menu {
    width: 200px;
}

.center-left-header {
    height: 75px;
    padding: 5px 0 35px 1px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: #333;
    letter-spacing: -1px;
}


.left-menu-alllists {
    list-style-type: none;
    border: 1px solid #f2f2f2;
    margin: 0px;
    padding: 0px;

}

.left-menu-list {
    cursor: pointer;
    border-bottom: 1px solid #f2f2f2;
    padding: 15px 13px 15px 20px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    line-height: 19px;
    letter-spacing: -0.3px;
    font-size: 14px;

}
.left-menu-list.active {
    background-color: rgb(250, 250, 250);
    color: #00C73C;
    font-weight: 500;
}
.center-left-footer {
    width: 100%;
    height: 60px;
    padding: 0 14px 0 20px;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    line-height: 20px;
    text-decoration: none;
    color: inherit;
}

.left-footer-list {
    display: flex;
    flex-direction: column;
    color: #333;
}

.left-footer-list1 {
    font-size: 14px;
    font-weight: 500;
}

.left-footer-list2 {
    font-size: 12px;
}

.board {
    width: 820px;
}

.board-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 27px;
    align-items: center;
    justify-content: space-between;
}

.Notice1 {
    font-weight: 500;
    font-size: 24px;
    color: #333;
    letter-spacing: -0.5px;
    line-height: 48px;
    margin: 0px;
}

.Notice2 {
    padding-left: 11px;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: #999;
    line-height: 20px;
}

.board-header {
    display: flex;
    padding: 20px 0px;
    width: 100%;
    border-bottom: 1px solid #333;
    border-top: 2px solid #333;
    font-size: 14px;
}

.board-header-number {
    width: 50px;
    flex-basis: 50px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: #333;
}

.board-header-title {
    flex-grow: 1;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: #333;
}

.board-header-writer {
    width: 100px;
    flex-basis: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: #333;
}

.board-header-date {
    width: 100px;
    flex-basis: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: #333;
}

a {
    text-decoration: none;
}

.board-content {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.center-board-allLists {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(244, 244, 244);
}

.center-board-list1 {
    text-align: center;
    padding: 20px 0px;
    color: rgb(76, 76, 76);
    flex-basis: 50px;
}

.center-board-list2 {
    padding: 20px 0px 20px 20px;
    color: rgb(76, 76, 76);
    flex: 1 1 0%;
    text-align: left;
}

.center-board-list3 {
    text-align: center;
    padding: 20px 0px;
    color: rgb(76, 76, 76);
    flex-basis: 100px;
}

.center-board-list4 {
    text-align: center;
    padding: 20px 0px;
    flex-basis: 100px;
    color: rgb(153, 153, 153);
}

.board-footer {
    display: flex;
    justify-content: center;
    padding: 60px 0px 30px;
}


.left-button {
    /*background-image: url(/resources/icons/left_button_open.svg);*/
    width: 44px;
    height: 44px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    background-color: #4CAF50;
    background-repeat: no-repeat;
    background-size: cover;
}
.board-footer-button:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-button:disabled {
    display: none;
}

.right-button {
    width: 44px;
    height: 44px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    background-color: #4CAF50;
    /*background-image: url(/resources/icons/right_button_open.svg);*/
    background-repeat: no-repeat;
    background-size: cover;
}

.faq_btn {
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 120px;
    height: 44px;
    border-radius: 33px;
    color: rgb(255, 255, 255);
    background-color: #4CAF50;
    border: 0px none;
    font-size: small;
    float: right;
}

.right-menu {
    position: absolute;
    top: 70px;
    right: 20px;
    bottom: -236px;
    z-index: 1;
    margin-top: 236px;
}

.right-menu-list {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    font-size: 12px;
    line-height: 16px;
    color: #333;
    letter-spacing: -0.3px;
}

.shipping-img {
    width: 80px;
}

.right-menu-list2 {
    width: 80px;
    border: 1px solid #ddd;
    border-bottom: 0;
    background-color: #fff;
}

.right-list2-11 {
    height: 29px;
    padding-top: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #333;
}

.right-menu-list3 {
    margin-top: 8px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
}

.top-button {
    width: 100%;
}

.bottom-button {
    width: 100%;
}

ul {
    list-style-type: none;
}

#footer {
    padding-top: 30px;
}

.footer1 {
    width: 1050px;
    margin: 0 auto;
}

.footer2 {
    padding: 20px 0 30px;
}

.footer1-1 {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 30px;
}

.jss4 {
    font-family: Noto Sans;
}

.css-14dor01 .MuiSelect-select {
    font-family: 'Noto Sans';
}

.jss4 .MuiSelect-iconOutlined {
    right: 10px;
}
svg:not(:root) {
    overflow: hidden;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-image: initial;
}

.css-e23nfx {
    display: flex;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #4CAF50;
    border-top: 1px solid #4CAF50;
}
.css-hyfxhw {
    flex-basis: 107px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: #333;
}
.css-1cn1979 {
    flex-basis: 135px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: #333;
}
.css-1ym8aqm {
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: #333;
}
.css-1fttcpj {
    display: flex;
    flex-direction: column;
}
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.css-e0dnmk {
    cursor: pointer;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.css-14yglsw {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(244, 244, 244);
}
.css-dx3647 {
    text-align: center;
    padding: 20px 0px;
    color: rgb(76, 76, 76);
    flex-basis: 70px;
}
.css-1tixomb {
    text-align: center;
    padding: 20px 0px;
    color: rgb(76, 76, 76);
    flex-basis: 135px;
}
.css-fzefrb {
    padding: 20px 0px 20px 20px;
    color: rgb(76, 76, 76);
    flex: 1 1 0%;
    text-align: left;
}
h4 {
    font-weight: bolder;
}

h4 span {
    vertical-align: middle;
    font-size: small;
}

/* bootstrap */
.card {
    border: white;
}

.card-header {
    background-color: white;
    height: 55px;
    padding-top: 13px;
}

.card-header a {
    color: black;
    text-decoration: none;
    vertical-align: middle;
}

.card-header span {
    text-align: center;
    font-size: 10.5pt;
}

.card-header:hover {
    color: black;
    text-decoration: none;
    background-color: white;
}

.card-body {
    border-top-color: white;
}

.card_answer {
    padding: 30px 30px 30px 70px;
    font-size: 14px;
}

/* FAQ Write */
.list-group-item a {
    text-decoration: none;
    color: black;
}

.list-group-item:hover>a {
    font-weight: bold;
    text-decoration: none;
    color: #B03FE3;
}

.list-group-item:hover>span {
    font-weight: bold;
    text-decoration: none;
    color: #B03FE3;
}

.list-group-item a {
    width: 100%;
    display: block;
}

h2 {
    font-weight: bold;
}

h4 {
    font-weight: bolder;
}

h4 span {
    vertical-align: middle;
    font-size: small;
}

.table {
    width: 100%;
    text-align: center;
}

.title {
    width: 100%;
    vertical-align: middle;
    padding-bottom: 9px;
    border-color: lightgray;
    border-width: 1px;
}

.back_btn {
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 120px;
    height: 44px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #4CAF50;
    border: 0px none;
    font-size: small;
}
.back_btn:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.notice_btn {
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 120px;
    height: 44px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #4CAF50;
    border: 0px none;
    font-size: small;
}
.notice_btn:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.modify_btn {
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 120px;
    height: 44px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #4CAF50;
    border: 0px none;
    font-size: small;
}
.modify_btn:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* 이미지 관련 css */
#result_card img{
    max-width: 100%;
    height: auto;
    display: block;
    padding: 5px;
}
#result_card {
    position: relative;
}
.imgDeleteBtn{
    position: absolute;
    top: 0;
    right: 5%;
    background-color: #ef7d7d;
    color: wheat;
    font-weight: 900;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    border: none;
    display: block;
    cursor: pointer;
}
/* notice css */
.table th {
    padding: 10px;
    font-size: 11pt;
    vertical-align: middle;
}

.table td {
    font-size: 10.5pt;
    height: 55px;
    padding-top: 17px;
    border-bottom: 1px solid lightgray;
}

.date {
    color: gray;
}

.n_title,
.n_title:hover {
    text-decoration: none;
    color: black;
}

.board-container {
    width: 100%;
    height: 90px;
    margin: 0 auto;
}

.search-container {
    background-color: white;
    width: 60%;
    height: 60px;
    border: 1px solid #4CAF50;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    height: 37px;
    display: flex;
}

.search-option {
    width: 100px;
    height: 100%;
    outline: none;
    margin-right: 5px;
    border: 1px solid #4CAF50;
    color: #4CAF50;
}

.search-option > option {
    text-align: center;
}

.search-input {
    color: gray;
    background-color: white;
    border: 1px solid #4CAF50;
    height: 100%;
    width: 300px;
    font-size: 15px;
    padding: 5px 7px;
}

.search-input::placeholder {
    color: #4CAF50;
}

.search-button {
    /* 메뉴바의 검색 버튼 아이콘  */
    width: 20%;
    height: 100%;
    background-color: #00c73c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.search-button:hover {
    color: #343a40;
}

.paging {
    color: black;
    width: 100%;
    align-items: center;
}

.page {
    color: black;
    padding: 6px;
    margin-right: 10px;
}

.paging-active {
    border: 2px solid #4CAF50; /* 초록색 테두리 */
    border-radius: 5px;
    color: #4CAF50; /* 텍스트 색상 */
    background-color: transparent; /* 내부 비우기 */
}


.paging-container {
    width: 100%;
    height: 70px;
    display: flex;
    text-align: center;
}
h4 {
    font-weight: bolder;
    font-size: 28px;
}
p {
    vertical-align: middle;
    font-size: 14px;
}
.table {
    width: 100%;
    text-align: center;
    border: black;
}
tbody {
    border-bottom: 1px solid rgb(244, 244, 244);
}
tbody td {
    height: 50px;
    font-size: 14px;
    /*font-weight: bolder;*/
}
tfoot td {
    font-size: 14px;
    text-align: left;
    letter-spacing: -0.8px;
    word-spacing: 2px;
    font-weight: 500;
}
.date {
    color: black;
}
.main {
    padding-bottom: 24px;
    padding-top: 10px;
}

.list_btn {
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 120px;
    height: 44px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #4CAF50;
    border: 0px none;
    font-size: 13px;
    float: right;
}
.list_btn:hover {
    background-color: #7F208D;
}

/* notice write & modify */
h4 {
    font-weight: bolder;
}
h4 span {
    vertical-align: middle;
    font-size: small;
    color: #999;
}
.main {
    padding-bottom: 24px;
    padding-top: 24px;
}

/*.title {*/
/*    width: 100%;*/
/*    vertical-align: middle;*/
/*    padding-bottom: 9px;*/
/*    border-color: lightgray;*/
/*    border-width: 1px;*/
/*}*/

.col-sm-6 {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
.back_btn:hover {
    background-color: #7F208D;
}

/* 이미지 관련 css */
#result_card img{
    max-width: 100%;
    height: auto;
    display: block;
    padding: 5px;
}
#result_card {
    position: relative;
}

/* faq */
#option.dropdown {
    width: 260px;
    border-radius: 0;
    padding-bottom: 0.5cm;
    padding-left: 110px;
    float: right;
}

/* faq_write */
.row {
    padding-top:50px;
    padding-bottom: 50px
}

#faqMain {
    text-align: center;
    border-bottom: 2px solid black;
}

tr {
    height: 60px;
}

.title-header {
    width: 10%;
    vertical-align: middle;
    border-color: white;
}

.title-input {
    vertical-align: middle;
    border-bottom-color: white;
}

#titleMessage, #contentMessage {
    color: red;
}

.category-header {
    white-space: nowrap;
    width: 10%;
    vertical-align: middle;
    border-color: white;
    font-size: 15px
}

.category-input {
    vertical-align: middle;
    border-bottom-color: white;
}

.content-header {
    font-weight: bolder;
}

#counter {
    color:#aaa;
    float: right;
}

.table thead th {
    vertical-align: initial; /* 기본값으로 되돌림 */
}

#fileItem {
    height: 30px;
}

.submit_btn {
    text-align: right;
}

.tbody_td {
    width: 10%;
    background-color: #4CAF50;
    vertical-align: middle;
    text-align: left;
    padding-left: 20px;
}

.tbody_val {
    text-align: left;
    vertical-align: middle;
    letter-spacing: -1px;
    padding-left: 20px;
}
